@model IEnumerable<GimcheonLibraryEF.DataAccess.Models.BorrowedBooks>

@{
    ViewData["Title"] = "My Books";
}

<h1>My Books</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var borrowedBook in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => borrowedBook.Book.Title)
            </td>
            <td>
                <a class="btn btn-primary"
                   asp-action="ReturnBook" asp-route-id="@borrowedBook.Id">
                    Return Book
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>